:root {
  --primary-color: #93d900;
  --el-color-primary: var(--primary-color);
}
.el-form-item__label {
  width: 130px;
  justify-content: flex-start;
}
.el-button--primary:focus,
.el-button--primary:hover {
  background-color: #b2eb38;
  border-color: #b0e147;
}
.el-input {
  width: auto;
}
.el-tabs__nav-wrap::after {
  display: none;
}
* {
  margin: 0;
  padding: 0;
}
